html, body {
  max-width: 100%;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: #777777;
  color: #7f7f7f;
  background: #000;
  height: 100%;
  position: relative;
}

::selection {
  color: #818892;
  background: #000;
}

a {
  color: #B5121B;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #B5121B;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Barlow";
  font-weight: 600;
  padding: 0;
  margin: 0;
  line-height: 1;
}


/* encabezado de las secciones */
.section-heading {
  float: left;
  width: 100%;
  clear: both;
  z-index: 100;
}

.section-heading h2{
  font-size: 40px;
  font-weight: 800;
  line-height: 1.1;
}
.section-heading h3{
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1;
}
.section-heading h5{
  font-size: 25px;
  font-weight: 200;
  line-height: 1.1;
}

.section-heading .datewed {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  margin: 10px 0;
  padding: 0;
}

.section-heading .holder{
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.section-heading .holder span{
  position: relative;
}
.section-heading .holder span:before,
.section-heading .holder span:after {
  position: absolute;
  top: 49%;
  width: 50px;
  height: 2px;
  background: #fff;
  content: '';
}
.section-heading .holder span:before {
  left: -55px;
}


@media screen and (max-width: 768px) {
  /*.section-heading h2 {
    font-size: 50px;
  }
  .section-heading .holder{
  font-size: 20px;
  letter-spacing: 5px;
  }
  .section-heading .holder span:before,
  .section-heading .holder span:after {
    position: absolute;
    width: 30px;
  }
  .section-heading .holder span:before {
    left: -35px;
  }
  .section-heading .datewed {
    font-size: 21px;
  }*/
}




/* padding secciones */
#seccion-portada,
#seccion-invitacion,
#seccion-generacion{
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#seccion-portada .overlay,
#seccion-invitacion .overlay,
#seccion-generacion .overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}





/* seccion portada - imagen_bg */
#seccion-portada {
  background-image: url(../img/portada_bg.jpg);
}
#seccion-portada .section-heading img{
  height: 160px;
  display: block;
  margin: 0 auto;
}

#seccion-portada .section-heading #escuela h2{
  font-size: 35px !important;
  font-weight: 600;
}

#seccion-portada .section-heading #graduacion h2{
  font-size: 40px !important;
}

#seccion-portada .section-heading #especialidad h3{
  font-size: 25px !important;
}


@media screen and (max-width: 768px) {
}






/* seccion invitacion */
#seccion-invitacion {
  background: #000;
}
#seccion-invitacion .countdown {
  color: #fff;
  margin: 10px 0 30px 0;
}
#seccion-invitacion .countdown span {
  font-family: "Barlow";
  font-size: 40px !important;
  font-weight: 500;
  line-height: 1.7;
  margin: 0 10px;
  display: inline-block;
}
#seccion-invitacion .countdown small {
  display: block;
  font-size: 14px;
  margin-top: -10px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#seccion-invitacion .section-heading #lugar h3{
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0;
}


@media screen and (max-width: 768px) {
}





/* seccion generacion */
#seccion-generacion {
  background-image: url(../img/generacion_bg.jpg);
}

#seccion-generacion .section-heading img {
  height: 250px;
  margin-top: 40px !important;
}

#seccion-generacion .section-heading h2{
  font-size: 50px !important;
}

@media screen and (max-width: 768px) {
}






.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}



.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

.js .animate-box {
  opacity: 0;
}

.seccion-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
